# 2.3 Pandas: основы (Series, DataFrame, индексация, агрегации)

Цели:
- Создать Series и DataFrame, изучить типы и индексы.
- Освоить выборки (loc/iloc), фильтрацию и присваивание.
- Выполнить groupby и множественные агрегаты.

In [1]:
import pandas as pd
import numpy as np
pd.__version__

'3.0.0'

## 1. Создание Series и DataFrame

In [2]:
# Create a simple DataFrame and explore .head(), .info(), .describe()
df = pd.DataFrame({
    'city': ['NY', 'SF', 'LA', 'NY', 'LA'],
    'value': [10, 20, 15, 7, 12],
    'group': ['A','A','B','B','A']
})
df.head()

  city  value group
0   NY     10     A
1   SF     20     A
2   LA     15     B
3   NY      7     B
4   LA     12     A

## 2. Индексация: loc/iloc и булевы фильтры

In [3]:
# Select rows by condition and columns by loc/iloc
df[df['value'] > 10].loc[:, ['city','value']]

  city  value
1   SF     20
2   LA     15
4   LA     12

## 3. Присваивания и новые колонки

In [4]:
# Create a new column based on condition
df['is_big'] = df['value'] > 12
df.head()

  city  value group  is_big
0   NY     10     A   False
1   SF     20     A    True
2   LA     15     B    True
3   NY      7     B   False
4   LA     12     A   False

## 4. GroupBy и агрегаты

In [5]:
# Group by columns and compute multiple aggregations
agg = df.groupby(['group']).agg(
    value_mean=('value','mean'),
    value_sum=('value','sum'),
    rows=('value','size')
)
agg.sort_values('value_sum', ascending=False)

       value_mean  value_sum  rows
group
A            14.0         42     3
B            11.0         22     2